table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}
th, td{
border: 2px solid black;
padding: 5px;
text-align: center;
}
th{
    background-color:teal ;
    color:black;
    height: 300px;
}
tr:nth-child(odd){
    background-color: teal;
}
tr:nth-child(even){
    background-color:rgb(0, 47, 255);
}
tr:hover{
    background-color: tomato;
}